{#
/**
 * @file
 * Zurb Foundations's theme implementation to display a single page.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - linked_logo: The logo image, linked to <front>.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - linked_site_name: The name of the site that also links to <front>.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.meta_header
 * - page.header
 * - page.help
 * - page.hero
 * - page.content
 * - page.sidebar_first
 * - page.sidebar_second
 * - page.footer
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}

<!-- SEMANTIQUE D8 FOUNDATION BASED THEME -->



{# HEADER #}

	<header class="header-masthead" role="banner">
			<div class="container section">

			<div class="branding site-branding">
			
			<a href="/" rel="home" class="site-logo">
			
	<img src="{{ base_path ~ directory }}/images/logo-main-tagless-semantique.svg" alt="Words matter" class="logo-main" width="300" height="119" >			
	
		</a> {# /.site-logo #}

	<div class="site-tagline">Words matter</div> 
			
			</div><!-- /branding -->

	<div class="navigation secondary">		

			{% if page.header %}
								{{ page.header }}
			{% endif %}		



	</div> <!-- /navigation -->

	</div> <!-- /container -->

	</header>

 {# NAV MAIN #}   

					{% if page.nav_main %}
	<div class="nav-main">
		<div class="container section">
						{% if breadcrumb %} {{ breadcrumb }} {% endif %}		
							{% spaceless %}
								{{ page.nav_main }}
							{% endspaceless %}
		</div><!-- /container -->
	</div> <!-- /nav_main -->
					{% endif %}

{# HERO #}   
	{% if page.hero %}
	  <div class="hero">
		<div class="container section">
		  {% spaceless %}
		  {{ page.hero }}
		  {% endspaceless %}
		</div><!-- /container -->
	  </div> <!-- /hero -->
	{% endif %}

 {# CORE #}   

	<div class="core page">
		<div class="container section">
		  {% if page.help %}
	        <div class="help">{{ page.help }}</div>
          {% endif %}

		  {% if messages and not zurb_foundation_messages_modal %}
	        <div class="messages">
		      {{ messages }}
	        </div><!-- /messages -->
		  {% endif %}		  
 {# core-TITLE #} 

  {% if not is_front %}

      <header class="title-header">
        <h1 class="title">{{ page['#title'] }}</h1>
        {% if node.field_subtitle is not empty %}
          <p class="subtitle">{{ node.field_subtitle.value }}</p>
        {% endif %}
      </header><!-- /.title-header-->

   {% endif %}

		<a id="main-content"></a>
		<main class="content-main">
				{{ page.content }}
		</main><!-- /content-main-->



			{% if page.sidebar_first %}
						<div class="sidebar sidebar-first">
					{{ page.sidebar_first }}
				</div><!-- /sidebar sidebar 1 -->
			{% endif %}

			{% if page.sidebar_second %}
						<div class="sidebar sidebar-second">
					{{ page.sidebar_second }}
				</div><!-- /sidebar sidebar 2 -->
			{% endif %}

			
			</div> <!-- /-container -->
	</div> <!-- /-core page -->



			<footer class="footer-floor" role="contentinfo">
				<div class="container section">

 {# FOOTER #}     
		{% if page.footer %}
					{{ page.footer }}

			<div class="guff">
			<div class="copyright">&copy; {{ "now"|date('Y') }} {{ site_name }} {{ 'All rights reserved.'|t }}</div>
{# 			<div class="partners">Supported by:<br> Logos & GuffHere	</div> #}
			<div class="credit">Design: <a href="http://www.timgummerdesign.com" title="Tim Gummer Design">TIM GUMMER DESIGN</a>	</div>
			</div><!-- /guff-->
			
	{% endif %}



					</div> <!-- /container-->
			</footer><!-- /footer-floor-->
<!-- hotfix test-->
